[package]
name = "locsd_lib"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
log = "0.4"
bytes = "1.0"
tokio = { version = "1.0", features = ["full"] }
jni = "0.21"
android_logger = "0.13"
